@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800;900&family=Merriweather:wght@400;700;900&family=Poppins:wght@400;500;600;700&display=swap');

/* primary styles */

*{
    font-family: 'Poppins', sans-serif;
}

/* nav styles */
header{
    margin: 90px 120px;
}

nav h2{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 34px;
}

nav li{
    list-style: none;
}

/* banner styles */

.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

.banner-title{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
}

.banner-descrition{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

.banner-image{
    background-image: url('/images/Circle\ design.svg');
}

.btn-1{
    display: inline-flex;
    padding: 10px 24px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.sponsor{
    text-align: center;
    margin-top: 170px;
}

.sponsor img{
    margin-right: 60px;
}


/* responsive styles */

@media screen and (max-width:576px) {
    header{
        margin: 0;
    }
    nav{
        flex-direction: column;
        text-align: center;
    }

    nav ul{
        text-align: center;
        gap: 20px;
    }

    .banner-container{
        flex-direction: column-reverse;
        gap: 15px;
    }

    .banner{
        text-align: center;
    }

    .banner-image{
        width: 450px;
    }

    .sponsor{
       flex-wrap: wrap;
    }
    .sponsor img{
        align-items: center;
        margin-right: 25px;
        margin-bottom: 25px;
        justify-content: center;
    }
    
}


@media screen and (min-width:576px and max-width:960px) {
    
}